@charset "UTF-8";
/* grid gap pentru main - grid-ul principal */
/* design rudimentar d*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D3842F;
}
header .main_title {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #262626;
  width: 100%;
  height: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

nav.meniu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: calc(100% - 2 * 10.938vw);
  margin: 0 auto;
  padding-left: 10.938vw;
  padding-right: 10.938vw;
  background-color: #3C728F;
  position: sticky;
  top: 0;
}
nav.meniu .dropdown_menu {
  display: none;
  width: 100%;
}
nav.meniu .left_menu {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 10px;
  height: 65px;
}
nav.meniu .left_menu a {
  text-decoration: none;
  color: whitesmoke;
}
nav.meniu .left_menu .dropdown {
  position: relative;
}
nav.meniu .left_menu .dropdown .dropdown-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  font-size: 1.5rem;
  padding: 0px 20px;
}
nav.meniu .left_menu .dropdown:hover .dropdown_menu {
  position: absolute;
  display: block;
  list-style: none;
  padding: 0;
  top: 107%;
  left: 0;
}
nav.meniu .left_menu .dropdown:hover .dropdown_menu li {
  height: 4vh;
  background-color: #60959F;
  text-align: center;
}
nav.meniu .left_menu .dropdown .dropdown-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #321B2C, #5D3A6D, #321B2C);
  opacity: 0;
  transition: transform 1s ease, opacity 0.3s ease;
}
nav.meniu .left_menu .dropdown .dropdown-btn:hover::after {
  transform: translateY(62px);
  opacity: 1;
}
nav.meniu .right_menu {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 10px;
  height: 65px;
}
nav.meniu .right_menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  font-size: 1.5rem;
  padding: 0px 20px;
  position: relative;
  color: whitesmoke;
}
nav.meniu .right_menu a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px; /* Grosimea barei */
  background: linear-gradient(to right, #321B2C, #5D3A6D, #321B2C); /* Gradientul cu 3 culori */
  opacity: 0; /* Bara este complet transparentă inițial */
  transition: transform 1s ease, opacity 0.3s ease;
}
nav.meniu .right_menu a:hover::after {
  transform: translateY(62px); /* Bara se mișcă de la sus la jos */
  opacity: 1; /* Bara devine opacă */
}

@media screen and (max-width: 1024px) {
  nav {
    justify-content: none;
    width: calc(100% - 2 * 10.254vw);
  }
  nav .left_menu :first-child p {
    display: none;
  }
  nav .right_menu p {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  nav {
    width: calc(100% - 2 * 7.5vw);
  }
}/*# sourceMappingURL=meniu.css.map */