    $padding-large: 10.938vw; 
    $padding-medium: 10.254vw;
    $padding-small: 7.5vw;

    $inaltime-meniu-large: 65px;
    $inaltime-titlu: 25px;

    $inaltime-meniu-medium: 55px;

    // $latime-buton: 8vw;

    $gap-large: 30px; 
    $gap-medium: 20px;
    $gap-small: 10px;

    $sus-large: 60px;
    $sus-medium: 40px;
    $sus-small: 20px;

    $sus-font-large: 2.5rem;
    $sus-font-medium: 2rem;
    $sus-font-small: 1rem;

    /* grid gap pentru main - grid-ul principal */
    $gap-large-main:20px; 
    $gap-medium-main:15px;
    $gap-small-main:10px;

    $text-padding-large: 20px; /* design rudimentar d*/
    $text-padding-medium: 18px;
    $text-padding-small: 16px;

    $background-color: #0E5088;
    $text-background: #EDE0C8;
    $text-color: #262626;
    $text-deschis: whitesmoke;
    $hf-background-color: #1F5673;

    $mov-inchis: #321B2C;
    $mov: #53294B;
    $mov-deschis: #5D3A6D;
    $mov-link: #551A8B;

    $rosu-inchis: #461626;
    $rosu: #82202D;
    $rosu-deschis: #972F34;

    $galben-inchis: #71281A;
    $galben: #A44F0E;
    $galben-deschis: #D3842F;

    $albastru-inchis: #25385B;
    $albastru: #3C728F;
    $albastru-deschis: #60959F;

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $galben-deschis;
    // border-bottom: solid 5px $rosu;

    .main_title{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        color: $text-color;
        // border-bottom: solid 3px $rosu;
        width: 100%;
        height: $inaltime-titlu;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

nav.meniu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $inaltime-meniu-large;
    width: calc(100% - 2 * #{$padding-large});
    margin: 0 auto;
    padding-left: $padding-large;
    padding-right: $padding-large;
    background-color: $albastru;
    // border-bottom: $rosu solid 5px;
    position: sticky;
    top:0;

    .dropdown_menu{
        display: none;
        width: 100%;
    }

    .left_menu{
        display: flex;
        list-style: none;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: $gap-small;
        height: $inaltime-meniu-large;
        a{
            text-decoration: none;
            color: $text-deschis;
        }
        .dropdown {
            position: relative;
            .dropdown-btn {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                height: $inaltime-meniu-large;
                font-size: 1.5rem;
                padding: 0px 20px;
            }
            &:hover{
                .dropdown_menu{
                    position: absolute;
                    display: block; 
                    list-style: none;
                    padding: 0;
                    top: 107%;
                    left: 0;
                    li{
                        height: 4vh;
                        background-color: $albastru-deschis;
                        text-align: center;
                    }
                }
            }
            
            .dropdown-btn::after {
                content: "";
                position: absolute; 
                top: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background: linear-gradient(to right, $mov-inchis, $mov-deschis, $mov-inchis);
                opacity: 0;
                transition: transform 1s ease, opacity 0.3s ease;
            }
        
            .dropdown-btn:hover::after {
                transform: translateY(calc($inaltime-meniu-large - 3px)); // bara orizontala
                opacity: 1;
            }

            
        }
    }
    .right_menu{
        display: flex;
        list-style: none;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: $gap-small;
        height: $inaltime-meniu-large;
        a{
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            height: $inaltime-meniu-large;
            font-size: 1.5rem;
            padding: 0px 20px;
            position: relative;
            color: $text-deschis;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 3px; /* Grosimea barei */
                background: linear-gradient(to right, $mov-inchis, $mov-deschis, $mov-inchis); /* Gradientul cu 3 culori */
                opacity: 0; /* Bara este complet transparentă inițial */
                transition: transform 1s ease, opacity 0.3s ease;
            }
        
            &:hover::after {
                transform: translateY(calc($inaltime-meniu-large - 3px)); /* Bara se mișcă de la sus la jos */
                opacity: 1; /* Bara devine opacă */
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    nav{
        justify-content: none;
        width: calc(100% - 2 * #{$padding-medium});
        .left_menu{
            :first-child{
                p{
                    display: none;
                }
            }
        }
        .right_menu{
            p{
                display: none;
            }
        }
    }
    }

@media screen and (max-width: 700px) {
    nav{
        width: calc(100% - 2 * #{$padding-small});
        
    }
}