<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Magazin de chitare, amplificatoare si accesorii">
        <meta name="keywords" content="chitara, amplificator, accesorii chitara, GuitarHeaven, chitara electrica, chitara acustica, chitara clasica">
        <title>GuitarHeaven - Despre Noi</title>
        <%- include("../fragmente/head.ejs");  %>
        <link rel="stylesheet" type="text/css" href="/resurse/css/extra.css">
    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <%- include("../fragmente/extra.ejs"); %>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>