<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Magazin de chitare, amplificatoare si accesorii">
        <meta name="keywords" content="chitara, amplificator, accesorii chitara, GuitarHeaven, chitara electrica, chitara acustica, chitara clasica">
        <title>GuitarHeaven - Galerie</title>
        <%- include("../fragmente/head.ejs");  %>
        
    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main style="display: flex; align-items: center; justify-content: center;">
        <%- include("../fragmente/galerie_statica.ejs"); %>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>