#extra{
     padding: 20px;
}

main{
    display: block;
}


.section_content{
    border: solid 2px var(--culoare3);
    box-shadow: 5px 10px 15px black;
}

.title{
    box-shadow: 5px 10px 15px black;
}

/*********************sectiune extra*************************/

.formula{
    width: 100%;
    text-align: center;
}

math{
    width: 100%;
    background: linear-gradient(90deg, var(--culoare2-deschis), var(--culoare2), var(--culoare2-deschis));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5vw;
    font-weight: 700;
}

.container-iframe{
    max-width: 100%;
    width: 45vw;
    margin: 0 auto;
}

.ifr-video
{
    border: solid 5px var(--culoare2-inchis);
    max-width: 100%;
    width: 100%;
    height: auto;
    min-width: 50%;
    aspect-ratio: 16/9;
    margin: 0;
    display: block;
}
/********** stilizare taburi****************/
.taburi-iframe{
    display: flex;
    justify-content: flex-end;
}

.taburi-iframe a {
    max-width: 10vw;
    text-decoration: none;
    border: solid 5px var(--hf-background-color);
    border-top: solid 5px var(--culoare2-inchis);
    background: radial-gradient(ellipse at center, var(--culoare2) 30%, var(--culoare2-inchis) 100%);
    color: var(--culoare3-deschis);
    border-radius: 0px 0px 10px 10px;
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
}

.taburi-iframe a:hover {
    background: radial-gradient(ellipse at center, var(--culoare2-deschis) 30%, var(--culoare2) 100%);
    color: white;
}



figure img{ /* rudimentar e*/
    max-width: 100%;
    height: auto;
}


.video-container{
    display: block;
    margin: 1vh auto;
    width: 75%;
    height: auto;
    border: solid 2px var(--culoare2-inchis);
}
video{
    margin: 0;
}
::cue{
    background-color: white;
    color: var(--text-color); /* sau alta culoare închisă din tema ta */
    text-align: center;
    font-style: normal;
  }

  @media screen and (max-width: 1024px){
    .video-container{
        width: 100%;
    }
    .pdf-preview{
        max-width: 90%;
        max-height: 60vh;
        min-width: 80%;
    }
    .taburi-iframe a{
        font-size: 1.5vw;
    }
  }

  @media screen and (max-width: 1024px){
    .taburi-iframe a{
        font-size: 1.7vw;
        font-size: 0.7rem;
    }
    .container-iframe{
        width: 100%;
    }
    .pdf-preview{
        max-width: 100%;
        max-height: 60vh;
        min-width: 80%;
    }
  }