:root {
    /* rudimentar a spatiere */
    --padding-large: 210px; 
    --padding-medium: 105px;
    --padding-small: 52.5px;

    --gap-large: 30px; 
    --gap-medium: 20px;
    --gap-small: 10px;

    --header-heigth: 79.875px;

    --sus-large: 60px;
    --sus-medium: 40px;

    /* grid gap pentru main - grid-ul principal */
    --gap-large-main:20px; 
    --gap-medium-main:15px;
    --gap-small-main:10px;

    --text-padding-large: 20px; /* design rudimentar d*/
    --text-padding-medium: 18px;
    --text-padding-small: 16px;
}

body{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

.grid_container {
    display: grid;
     /* rudimentar a spatiere prin grid columns - 2 coloane din body rezervate pentru spatiu*/
    grid-template-columns: var(--padding-large) 1fr var(--padding-large);
    grid-template-rows: auto 1fr auto;
}



/* diferite variabile in functie de media query */
@media screen and (max-width: 1024px) {
    /* body {
        background-color: lightblue ;
    } */
    .grid_container {
        grid-template-columns: var(--padding-medium) 1fr var(--padding-medium);
    }
    main {
        grid-column-gap: var(--gap-medium-main);
        grid-row-gap: var(--gap-medium-main);
        grid-template-areas: 
        'z1 z1'
        'z5 z7'
        'z6 z6'
        'z2 z2'
        'z3 z3'
        'z4 z4'
        'z8 z8';
    }
    .section_content{
        padding: var(--text-padding-medium);
    }
    .meniu{
        padding-right: var(--padding-medium) !important;
        padding-left: var(--padding-medium) !important;
    }
    footer {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(3,auto) !important;
        padding-left: var(--padding-medium) !important;
        padding-right: var(--padding-medium) !important;
    }
    footer section{
        grid-row:1 !important;
        grid-column: 1/-1!important;
    }
    footer .locatie{
        grid-row: 2 !important;
        grid-column: 1/-1 !important;
    }
    footer .link_date{
        grid-row:3 !important;
        grid-column: 1/-1 !important;
    }
    .link_sus{
        max-width: var(--sus-medium);
    }
}

@media screen and (max-width: 600px) {
    /* body{ culoare de test
        background-color: red;
    } */
    .grid_container {
        grid-template-columns: var(--padding-small) 1fr var(--padding-small);
    }
    main {
        grid-column-gap: var(--gap-small-main);
        grid-row-gap: var(--gap-small-main);
    }
    .meniu{
        padding-right: var(--padding-small) !important;
        padding-left: var(--padding-small) !important;
    }
    .section_content{
        padding: var(--text-padding-small);
    }
    footer {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(3,auto) !important;
        padding-left: var(--padding-small) !important;
        padding-right: var(--padding-small) !important;
    }
    footer section{
        grid-row:1 !important;
        grid-column: 1/-1!important;
    }
    footer .locatie{
        grid-row: 2 !important;
        grid-column: 1/-1 !important;
    }
    footer .link_date{
        grid-row:3 !important;
        grid-column: 1/-1 !important;
    }
    .link_sus{
        display: none;
    }
}