/*******************************main*************************/
/* main{
    grid-column: 2;
    grid-row: 2;
    margin-top: var(--header-height);
    display: grid;
    grid-template-areas: 
    'reclama reclama reclama'
    'categorii categorii categorii'
    'acasa acasa acasa'
    'despre despre despre'
    'inainte inainte inainte'
    'extra extra extra';
    grid-column-gap: var(--gap-large-main); 
    grid-row-gap: var(--gap-large-main);
} */

main{
    grid-column: 2;
    grid-row: 2;
    margin-top: var(--header-height);
    display: grid;
    grid-template-areas: 
    'z1 z1 z1 z1'
    'z5 z6 z6 z7'
    'z3 z3 z2 z2'
    'z4 z4 z2 z2'
    'z8 z8 z8 z8';
}

.zona1{
    grid-area: z1;
}

.zona8{
    grid-area: z8;
}

.zona5{
    grid-area: z5;
    /* display: none; */
}

.zona6{
    grid-area: z6;
    /* display: none; */
}

.zona7{
    grid-area: z7;
    /* display: none; */
}

.zona3{
    grid-area: z3;
    /* display: none; */
}

.zona4{
    grid-area: z4;
    /* display: none; */
}

.zona2{
    grid-area: z2;
    /* display: none; */
}

/***************sectiune reclama produse****************/
.container_reclama{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 0.8fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 20px 20px;
}

.reclama_titlu{
    grid-row:1;
    grid-column: 1/-1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

.container_reclama img{ /* nu mai e nevoie de procente pentru ca pozele sunt in grid*/
    height: 600px;
    width: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container_reclama img:first-of-type{
    grid-row: 2;
    grid-column: 1;
    justify-self:end;
}

.container_reclama img:nth-of-type(2){
    grid-row: 2;
    grid-column:2;
}

.container_reclama img:nth-of-type(3){
    grid-row:2;
    grid-column:3;
    justify-self:start;
}
/***********************end reclama************************/

figure{
    margin: 0 auto;
    max-width: 100%;
}

/*****************secctiune categorii produse****************/
.categorii{
    grid-area: categorii;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
}

.titlu_categorii{
    grid-row: 1;
    grid-column: 1/-1;
    text-align: center;
}

.categorii a{
    text-align: center;
}

.categorii img{
    max-width: 30%;
    min-width: 25%;
    width:25%;
    height: auto;
}

.guitar_pict{
    grid-row: 2;
    grid-column: 1;
}

.amp_pict{
    grid-row: 2;
    grid-column: 2;
}

.acc_pict{
    grid-row: 2;
    grid-column:3
}

.categorii ul{
    grid-row:3;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding:0;
}

.categorii ul li a{
    text-decoration: none;
    color: black;
}
/**************************end categorii***********************/

.section_content{
    background-color: white;
    color: #000000;
    border: solid 3px black;
    border-radius: 10px;
    padding: var(--text-padding-large); /* design rudimentar d */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*********************sectiune extra*************************/
.ifr-video
{
    border: none;
}

figure img{ /* rudimentar e*/
    max-width: 100%;
    height: auto;
}

/***************************end main*******************************/