/*************************tabel*************************/

table{
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
    border: inset 5px var(--culoare4);
    text-align: center;
    background-color: var(--text-background);
    color: var(--text-color);
}

table tr:nth-child(even) td {
    border-bottom: 2px solid var(--background-color);
}

table tr:nth-child(odd) td {
    border-bottom: 2px solid var(--culoare4-inchis);
}

table td, table th {
    border: 1px solid var(--culoare1-inchis);
    padding: 8px;
}

table tr {
    transition: outline 0.5s ease;
}

table tr:hover {
    /* outline: 5px solid var(--culoare2); */
    outline: 5px solid color-mix(in srgb, var(--culoare2) 70%, transparent);
}

table caption{
    background-color: var(--culoare4);
    padding: 5px 10px;
    color: var(--text-background);
    
}

/*******************************************************/