:root {
  --padding-large: 210px;
  --padding-medium: 105px;
  --padding-small: 52.5px;
  --gap-large: 30px;
  --gap-medium: 20px;
  --gap-small: 10px;
  --sus-large: 60px;
  --sus-medium: 40px;
  --sus-small: 20px;
  --sus-font-large: 2.5rem;
  --sus-font-medium: 2rem;
  --sus-font-small: 1rem;
  /* grid gap pentru main - grid-ul principal */
  --gap-large-main:20px;
  --gap-medium-main:15px;
  --gap-small-main:10px;
  --text-padding-large: 20px; /* design rudimentar d*/
  --text-padding-medium: 18px;
  --text-padding-small: 16px;
  --background-color: #0E5088;
  --text-background: #EDE0C8;
  --text-color: #262626;
  --text-deschis: whitesmoke;
  --hf-background-color: #1F5673;
  --negru: black;
  --culoare1-inchis: #321B2C;
  --culoare1: #53294B;
  --culoare1-deschis: #5D3A6D;
  --culoare2-inchis: #461626;
  --culoare2: #82202D;
  --culoare2-deschis: #972F34;
  --culoare3-inchis: #71281A;
  --culoare3: #A44F0E;
  --culoare3-deschis: #D3842F;
  --culoare4-inchis: #25385B;
  --culoare4: #3C728F;
  --culoare4-deschis: #60959F;
}