<section id = "despre"> <!-- 1.7 minim 2 taguri p ul -->
    <h2 class = "title">Despre noi</h2>
    <div class = "section_content">
        <p>Guitar Heaven este locul ideal pentru iubitorii de chitare. Fie că ești începător sau profesionist, avem ceva pentru tine!</p>
        
        <div>
            <details>
                <summary>
                    <strong>Ce oferim?</strong>
                </summary>
                <ul>
                <li>Chitare electrice și acustice</li>
                <li>Accesorii pentru chitare</li>
                <li>Recenzii și recomandări</li>
                </ul>
            </details>
        </div>

        <section>
            <h3>Intrebari fecvente</h3>
            <details> <!-- 1.12 details si summary -->
                <summary>
                    <strong>Pot sa retrunez?</strong>
                </summary>
                <p>In maxim <b>30 de zile</b>!</p>
            </details>

            <details>
                <summary><strong>Ce tipuri de chitare comercializați?</strong></summary>
                <p>Avem chitare electrice, acustice și clasice de la branduri renumite.</p>
            </details>
            
            <details>
                <summary><strong>Vindeți și chitare second-hand?</strong></summary>
                <p>Momentan nu, dar lucrăm la o secțiune dedicată chitarelor second-hand.</p>
            </details>
            
            <details>
                <summary><strong>Pot testa chitara înainte de a o cumpăra?</strong></summary>
                <p>Da, în magazinul nostru fizic poți testa orice instrument înainte de achiziție.</p>
            </details>
        </section>
    </div>
</section>

<section id = "inainte_sa_cumperi"> <!--1.5 section in section headere descrescatoare-->
    <h2 class = "title">Inainte sa cumperi</h2>
    <div class = "section_content"> <!--1.10 bold-->
            Magazinul <b>GuitarHeaven</b> oferă un sistem de navigare intuitiv și eficient pentru găsirea rapidă a produselor dorite.
        <section>
            <h3>Meniul derulant</h3>
            În partea de sus a paginii, există un meniu derulant cu două categorii principale:
            
            <ul>
                <li>
                <strong>Chitare</strong> <!--1.10 strong-->
                <ul>
                    <li>Branduri (<em>Fender, PRS, etc</em>)</li>
                    <li>Tipuri de chitare (<em>Electrice, acustice, clasice</em>)</li>
                </ul>
                </li>
                <li>
                <strong>Amplificatoare</strong>
                <ul>
                    <li>Branduri (<em>Marshall, Fender, etc</em>)</li> <!--1.10 emphasis-->
                    <li>Tipuri de amplificatoare (<em>Combo, Head, Cabinet</em>)</li>
                </ul>
                </li>
            </ul>
        </section>
        <section>
            <h3>Pagina unica de produse + Filtre</h3>
            <ul>
                <li>Există o singură pagină de produse pentru fiecare categorie (ex: chitare).</li>
                <li>Dacă dai click pe Chitare, vei vedea toate modelele disponibile, fără filtre activate.</li>
                <li>Dacă selectezi un brand sau un tip de chitară, vei fi redirecționat pe aceeași pagină, dar cu filtrul respectiv aplicat automat.</li>
            </ul>
        </section>
        <section>
            <h3>Sistem de cumparaturi</h3>
            <ul>
                <li><strong>Adăugare în coș </strong>→ Buton disponibil pe fiecare produs pentru cumpărare rapidă.</li>
                <li><strong>Adăugare la favorite</strong> → Posibilitatea de a salva produse pentru mai târziu.</li>
            </ul>
        </section>
    </div>
</section>