<footer>
    <section>
        <h2>Informatii de contact</h2> <!-- 1.13 informatii de contact-->
        <address>
            <p>Numar de telefon: <a class="simple_link" href="tel:+40712345678">+40 712 345 678</a></p>
            <p>Adresa: <a class="simple_link" href = "https://www.google.com/maps/place/Faculty+of+Mathematics+and+Computer+Science/@44.4354285,26.100051,19.52z/data=!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D"
                target = "_blank">GuitarHeaven</a></p>
            <p>Email: <a class="simple_link" href="mailto:contact@guitarheaven.ro">contact@guitarheaven.ro</a></p>
            <p>Intrebari: <a class="simple_link" href="https://api.whatsapp.com/send?phone=40712345678&text=Salut!" target="_blank"><i class="fa-brands fa-whatsapp fa-pulse"></i> WhatsApp</a></p>
        </address>
    </section>

    <!-- bonus iframe google maps -->
    <div class = "locatie"> 
        <h2>Locatie</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2849.1736705040845!2d26.0995867!3d44.4355355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1709540000000" width="600" height="450" style="border:0;" ></iframe>
    </div>

    <div class = "link_date">
        <hr>
        
        <br>
        <small>
            <time datetime="2024-03-04"><p>Martie 2024</p></time><p>&copy;Guitar Heaven. Toate drepturile rezervate.</p> <!--1.14 copyright si date time-->
        </small>
    </div>
    
    <div class = "link_top_div">
        <a href="#" class="link_top">&#5123;</a>
    </div>

    <p id="banner">Acesta este un proiect școlar!<button id="ok_cookies">Accepta cookies</button></p>
</footer>