<header>
    <h1 class = "main_title">GuitarHeaven</h1>
        </header>
        <nav class = "meniu"> <!-- 1.6 sistem de navigare-->

            <label for="menu-toggle" class="hamburger">
                <div class = "bar"></div>
                <div class = "bar"></div>
                <div class = "bar"></div>
            </label>
            
            <input type="checkbox" id = "menu-toggle">

        <div class = "both_menu">
            <ul class = "left_menu">
                <li class = "dropdown">
                    <a href = "/" class="dropdown-btn"><i class="fa-solid fa-home"></i><p>ACASĂ</p></a>
                    <ul class = "dropdown_menu">
                        <li><a href = "#reclama">Promotii</a></li>
                        <li><a href = "#despre">Despre noi</a></li>
                        <li><a href = "#inainte_sa_cumperi">Inainte sa cumperi</a></li>
                        <li><a href = "extra">Extra</a></li>
                    </ul>
                </li>

                <li class = "dropdown">
                    <a href="#" class="dropdown-btn">CHITARE</a>
                    <ul class = "dropdown_menu">
                        <li><a href = "#">Fender</a></li>
                        <li><a href = "#">Gibson</a></li>
                        <li><a href = "#">PRS</a></li>
                        <li><a href = "#">Squire</a></li>
                        <li><a href = "#">Ibanez</a></li>
                    <!--in acelasi meniu stilizat sa vina separat -->                  
                        <li><a href = "#">Electrice</a></li>                    
                        <li><a href = "#">Acustice</a></li>                    
                        <li><a href = "#">Clasice</a></li>                    
                    </ul>
                </li>
                <li class = "dropdown">
                    <a href="#" class="dropdown-btn">AMPLIFICATOARE</a>
                    <ul class = "dropdown_menu">
                        <li><a href="#">Fender</a></li>
                        <li><a href="#">Marshall</a></li>
                        <li><a href="#">Orange</a></li>
                        <li><a href="#">BlackStar</a></li>
                        <li><a href="#">Boss</a></li>
                        <!--      -->
                        <li><a href="#">Head</a></li>
                        <li><a href="#">Combo</a></li>
                        <li><a href="#">Cabinet</a></li>
                    </ul>
                </li>
                <li class = "dropdown">
                    <a href="#" class="dropdown-btn">ACCESORII</a>
                    <ul class = "dropdown_menu">
                        <li><a href="#">Pene</a></li>
                        <li><a href="#">Corzi</a></li>
                        <li><a href="#">Huse</a></li>
                    </ul>
                </li>
            </ul>
            <ul class = "right_menu">
                <li><a href = "#"><i class="fa-solid fa-user"></i><p>CONT</p></a></li>
                <li><a href = "#"><i class="fa-solid fa-cart-shopping"></i><p>COS</p></a></li>
            </ul>
            </div>
        </nav>