<header>
    <h1 class = "main_title">GuitarHeaven</h1>
        </header>
        <nav class = "meniu"> <!-- 1.6 sistem de navigare-->

            <label for="menu-toggle" class="hamburger">
                <div class = "bar"></div>
                <div class = "bar"></div>
                <div class = "bar"></div>
            </label>
            
            <input type="checkbox" id = "menu-toggle">

        <div class = "both_menu">
            <ul class = "left_menu">
                <li class = "dropdown">
                    <a href = "/" class="dropdown-btn"><i class="fa-solid fa-home"></i><p>ACASĂ</p></a>
                    <ul class = "dropdown_menu">
                        <li><a href = "/index#reclama">Promotii</a></li>
                        <li><a href = "/index#despre">Despre noi</a></li>
                        <li><a href = "/index#inainte_sa_cumperi">Inainte sa cumperi</a></li>
                        <li><a href = "/extra">Extra</a></li>
                        <li><a href = "/galerie">Galerie</a></li>
                    </ul>
                </li>

                <li class = "dropdown">
                    <a href="/produse" class="dropdown-btn">CHITARE</a>
                    <ul class = "dropdown_menu">
                        <li><a href = "/produse?tip=cofetarie">Fender</a></li>
                        <li><a href = "/produse?tip=patiserie">Gibson</a></li>
                        <li><a href = "/produse?tip=prs">PRS</a></li>
                        <li><a href = "/produse">Squire</a></li>
                        <li><a href = "/produse">Ibanez</a></li>
                    <!--in acelasi meniu stilizat sa vina separat -->                  
                        <li><a href = "/produse">Electrice</a></li>                    
                        <li><a href = "/produse">Acustice</a></li>                    
                        <li><a href = "/produse">Clasice</a></li>                    
                    </ul>
                </li>
                <li class = "dropdown">
                    <a href="/index#" class="dropdown-btn">AMPLIFICATOARE</a>
                    <ul class = "dropdown_menu">
                        <li><a href="/index#">Fender</a></li>
                        <li><a href="/index#">Marshall</a></li>
                        <li><a href="/index#">Orange</a></li>
                        <li><a href="/index#">BlackStar</a></li>
                        <li><a href="/index#">Boss</a></li>
                        <!--      -->
                        <li><a href="/index#">Head</a></li>
                        <li><a href="/index#">Combo</a></li>
                        <li><a href="/index#">Cabinet</a></li>
                    </ul>
                </li>
                <li class = "dropdown">
                    <a href="/index#" class="dropdown-btn">ACCESORII</a>
                    <ul class = "dropdown_menu">
                        <li><a href="/index#">Pene</a></li>
                        <li><a href="/index#">Corzi</a></li>
                        <li><a href="/index#">Huse</a></li>
                    </ul>
                </li>
            </ul>
            <ul class = "right_menu">
                <li><a href = "/index#"><i class="fa-solid fa-user"></i><p>CONT</p></a></li>
                <li><a href = "/index#"><i class="fa-solid fa-cart-shopping"></i><p>COS</p></a></li>
            </ul>
            </div>
        </nav>