<script src="resurse/js/tema.js"></script>
<header>
    <h1 class = "main_title">GuitarHeaven</h1>
        </header>
        <nav class = "meniu"> <!-- 1.6 sistem de navigare-->

            <label for="menu-toggle" class="hamburger">
                <div class = "bar"></div>
                <div class = "bar"></div>
                <div class = "bar"></div>
            </label>
            
            <input type="checkbox" id = "menu-toggle">

        <div class = "both_menu">
            <ul class = "left_menu">
                <li class = "dropdown">
                    <a href = "/" class="dropdown-btn"><i class="fa-solid fa-home"></i><p>ACASĂ</p></a>
                    <ul class = "dropdown_menu">
                        <li><a href = "/index#reclama">Promotii</a></li>
                        <li><a href = "/index#despre">Despre noi</a></li>
                        <li><a href = "/index#inainte_sa_cumperi">Inainte sa cumperi</a></li>
                        <li><a href = "/extra">Extra</a></li>
                        <li><a href = "/galerie">Galerie</a></li>
                    </ul>
                </li>

                <li class = "dropdown">
                    <a href="/produse?tip=chitara" class="dropdown-btn">CHITARE</a>
                    <ul class = "dropdown_menu">
                        <li><a href = "/produse?brand=fender&tip=chitara">Fender</a></li>
                        <li><a href = "/produse?brand=gibson&tip=chitara">Gibson</a></li>
                        <li><a href = "/produse?brand=prs&tip=chitara">PRS</a></li>
                        <li><a href = "/produse?brand=squire&tip=chitara">Squire</a></li>
                        <li><a href = "/produse?brand=ibanez&tip=chitara">Ibanez</a></li>
                    <!--in acelasi meniu stilizat sa vina separat -->                  
                        <li><a href = "/produse?categ_produs=electrica">Electrice</a></li>                    
                        <li><a href = "/produse?categ_produs=acustica">Acustice</a></li>                    
                        <li><a href = "/produse?categ_produs=clasica">Clasice</a></li>                    
                    </ul>
                </li>
                <li class = "dropdown">
                    <a href="/produse?tip=amplificator" class="dropdown-btn">AMPLIFICATOARE</a>
                    <ul class = "dropdown_menu">
                        <li><a href="/produse?brand=fender&tip=amplificator">Fender</a></li>
                        <li><a href="/produse?brand=marshall&tip=amplificator">Marshall</a></li>
                        <li><a href="/produse?brand=orange&tip=amplificator">Orange</a></li>
                        <li><a href="/produse?brand=blackstar&tip=amplificator">BlackStar</a></li>
                        <li><a href="/produse?brand=boss&tip=amplificator">Boss</a></li>
                        <!--      -->
                        <li><a href="/produse?categ_produs=head">Head</a></li>
                        <li><a href="/produse?categ_produs=combo">Combo</a></li>
                        <li><a href="/produse?categ_produs=cabinet">Cabinet</a></li>
                    </ul>
                </li>
                <li class = "dropdown">
                    <a href="/produse?tip=accesoriu" class="dropdown-btn">ACCESORII</a>
                    <ul class = "dropdown_menu">
                        <li><a href="/produse?categ_produs=pene">Pene</a></li>
                        <li><a href="/produse?categ_produs=corzi">Corzi</a></li>
                        <li><a href="/produse?categ_produs=huse">Huse</a></li>
                        <li><a href="/produse?categ_produs=straps">Straps</a></li>
                        <li><a href="/produse?categ_produs=cablu">Cabluri</a></li>
                    </ul>
                </li>
                <li class = "dropdown">
                    <a href="/produse" class="dropdown-btn">PRODUSE</a>
                    <ul class = "dropdown_menu">
                        <li><a href="/produse">Toate</a></li>
                        <!-- <li><a href="/produse?tip=chitara">Chitare</a></li>
                        <li><a href="/produse?tip=amplificator">Amplificatoare</a></li>
                        <li><a href="/produse?tip=accesoriu">Accesorii</a></li> -->
                        <% for(let opt of locals.optiuniMeniu){ %>
                            <li><a href="/produse?tip=<%= opt.unnest %>"><%= opt.unnest %></a></li>
                        <% } %>
                    </ul>
                </li>
                <li>
                    <div class="mb-3">
                        <label for="theme-select" class="form-label"></label>
                        <select class="form-select" id="theme-select">
                            <option value="light">Light</option>
                            <option value="dark">Dark</option>
                            <option value="blue">Blue</option>
                        </select>
                    </div>
                </li>
            </ul>
            <ul class = "right_menu">
                <li><a href = "/index#"><i class="fa-solid fa-user"></i><p>CONT</p></a></li>
                <li><a href = "/index#"><i class="fa-solid fa-cart-shopping"></i><p>COS</p></a></li>
            </ul>
            </div>
        </nav>